/* Two states: 'on' and 'off'.
   Enters: off->on,
   Exits:  on->off
*/
/* Three states: 'enter-from', 'on', 'exit-to'.
   Enters: enter-from -> on,
   Exits:  on -> exit-to
*/
.scenarioA {
  opacity: 1;
  color: red; }
  .scenarioA.ng-enter, .scenarioA.ng-hide {
    transition: 1s linear all; }
  .scenarioA.ng-leave, .scenarioA.ng-hide-remove, .scenarioA.ng-hide-add {
    display: block !important;
    transition: 1s linear all; }
  .scenarioA.ng-enter, .scenarioA.ng-leave.ng-leave-active, .scenarioA.ng-hide-add.ng-hide-add-active, .scenarioA.ng-hide-remove {
    opacity: 0;
    color: black; }
  .scenarioA.ng-enter.ng-enter-active, .scenarioA.ng-leave, .scenarioA.ng-hide-remove.ng-hide-remove-active, .scenarioA.ng-hide-add {
    opacity: 1;
    color: red; }

.scenarioB {
  opacity: 1;
  color: red;
  background: white; }
  .scenarioB.ng-enter, .scenarioB.ng-hide {
    transition: 1s linear all; }
  .scenarioB.ng-leave, .scenarioB.ng-hide-remove, .scenarioB.ng-hide-add {
    display: block !important;
    transition: 1s linear all; }
  .scenarioB.ng-enter, .scenarioB.ng-hide-remove {
    opacity: 0;
    color: black; }
  .scenarioB.ng-enter.ng-enter-active, .scenarioB.ng-leave, .scenarioB.ng-hide-remove.ng-hide-remove-active, .scenarioB.ng-hide-add {
    opacity: 1;
    color: red;
    background: white; }
  .scenarioB.ng-leave.ng-leave-active, .scenarioB.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    color: purple;
    background: black; }
